body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background: whitesmoke
}


.login-container {
  width: 380px;
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.15);
  border: 1px solid #dee2e6;
  text-align: center;
}

h2 {
  color: #023e8a;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 5px 0;
  border: 1px solid #ced4da;
  font-size: 14px;
  border-radius: 8px;
  outline: none;
  background: #f8f9fa;
  transition: all 0.2s ease;
}

input:focus {
  border-color: #0077b6;
  box-shadow: 0 0 4px rgba(0, 119, 182, 0.4);
}

.error {
  color: #e63946;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: left;
}

button {
  width: 100%;
  padding: 12px;
  background: #023e8a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease;
}

button:hover:not(:disabled) {
  background: #03045e;
}

button:disabled {
  background: #adb5bd;
  cursor: not-allowed;
}


.success {
  margin-top: 18px;
  padding: 10px;
  background: #d8f3dc;
  border: 1px solid #74c69d;
  border-radius: 6px;
  color: #2d6a4f;
  font-size: 14px;
}
