*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #000;
  margin: 10px 10px;
}

.main_cont{
  /* padding: 20px; */
  /* margin: 50px 50px; */
  /* border: 1px solid #3c467b; */
  /* background-color: #211832; */
  /* border-radius: 6px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* width: 50%; */
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;

}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h1{
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
h3{
  color: white;
  font-style: italic;
}

p{
  margin-top: 10px;
  color: white;
  
}