* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;

}

header {
  padding: 20px;
  margin: 5 px;
  border: 1px solid #b6771d;
  background-color: #7b542f;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav{
  display: flex;
  gap: 20px;
}

main{
  margin: 5px 5px;
}


footer {
  padding: 20px;
  border: 1px solid #b6771d;
  background-color: #7b542f;
  justify-content: center;
  display: flex;
  gap: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: white;

}

a {
  color: white;
  text-decoration: none;
  gap: 10px;
}