body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background: lightgrey;
}

.contact-container {
  width: 400px;
  background: #ffffff;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

h2 {
  color: #1b1b2f;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #cfd8dc;
  font-size: 14px;
  border-radius: 8px;
  background: #f7f8fa;
  outline: none;
  transition: 0.2s ease;
}

input:focus,
textarea:focus {
  border-color: #2575fc;
  box-shadow: 0 0 4px rgba(37, 117, 252, 0.4);
}

textarea {
  resize: none;
  height: 90px;
}

button {
  width: 100%;
  padding: 12px;
  background: grey;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: 0.2s ease;
}

button:hover {
  background: lightgray;
}

.success {
  margin-top: 15px;
  padding: 10px;
  background: #e3fcef;
  border: 1px solid #75d99f;
  border-radius: 6px;
  color: #167b46;
  font-size: 14px;
}

.error-text {
  color: #ff4d4d;
  font-size: 12px;
  text-align: left;
}
