* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;

}

header{
  padding:  10px;
  margin: 5 px;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-size: 20px;
  text-align: center;
}

.asp{
  font-style: italic;
  font-size: 14px;
}

section {
  margin-top: 5px;

}

.skills{
  margin: 30px 30px;
}

ul{
  margin-left: 20px;
  margin-top: 10px;
}

li{
  margin-bottom: 5px;
  margin-left: 5px;
}

.location{
  margin: 30px 30px;
}

h3{
  margin-bottom: 10px;
}

p{
  margin-left: 15px;
  margin-bottom: 10px;
}

footer{
  padding:  20px;
  border: 1px solid green;
  background-color: green;
  justify-content:  center;
  display: flex;
  gap: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
  
}

a{
  color: white;
  text-decoration: none;
}

