.counter{
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 2px solid #666867;
    border-radius: 8px;
    background-color: #bbb5b5;
}

.counter p {
    text-align: center;
    color: #1c2220;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #615d5d;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
    justify-content: sp;
}

.increment:hover {
    background-color: #008751;
}

.decrement:hover{
    background-color: red;
}

.reset:hover{
    background-color: rgb(85, 85, 75);
}